#img{
    background-image: url(img01.png);
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    border: black 4px solid;
    margin: 90px;
    margin-top: 90px;
    padding-left: 50px;
   
}