#div1{
    background-color: greenyellow;
    height: 100px;
    width: 1260px;
    margin-top: 10px;
    border: black 3px solid;

}
.p1{
    
    background-color: bisque;
    color: red;
    height: 20px;
    width: 200px;
    margin-left: 500px ;
    margin-top: 30px;
}
#div2{
    background-color: yellow;
    height: 390px;
    width: 1260px;
    margin-top: 3px;
    border: black 3px solid;
}
#p2{
    background-color: brown;
    height: 18px;
    margin: 10px;
    width: 1250px;
   
}
#p3{
    height: 45px;
    background-color: blueviolet;
    width: 200px;
    margin: 10px;
   
  
}
#p4{
    height: 45px;
    background-color: blue;
    width: 240px;
    margin: 10px;
    padding-left: 15px;
}
#p5{
    height: 45px;
    background-color: red;
    width: 250px;
    margin-left: 260px ;
    margin-top: 30px;
}
#p6{
    height: 45px;
    background-color: green;
    width: 250px;
    margin-left: 550px ;
    margin-top: 30px;
    padding-left: 40px;
}
#div3{
        background-color: rgb(142, 219, 27);
        height: 100px;
        width: 1265px;
        margin-top: 10px;
    }
#p7{
    background-color: red;
    height: 18px;
    margin: 10px;
    width: 795px;
   
    margin: 0%;
    padding-left: 470px;
}

