p{
    background-color: aquamarine;
    color: black;
}
h1{
    background-color: rgb(186, 186, 193);
    color: black;
}
h2{
    background-color: blueviolet;
    color: black;
}

#elemento2{
    background-color: aqua;
    color: black;
}
.div1{
    background-color: bisque;
    color: black;
}