body{
    margin: 10px;
    background-color: blue;
}
.box{
    height: 700px;
    width: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto auto ;
    
}
.l1{
    background-color: aquamarine;
    border: black 2px solid;
    font-size: 60px;
    text-align: center;
    padding: 100px;
    

}
.l2{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
    
}
.l3{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
    
}
.l4{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
    

}
.l5{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;

    
}
.l6{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
   
    
}
.l7{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
    
}
.l8{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    grid-area: 1/2/5/6;
    
}
.l9{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}
.l10{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}
.l11{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}
.l12{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}
.l13{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}
.l14{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}
.l15{
    background-color: aquamarine;
    border: black 2px solid;
    padding: 100px;
    font-size: 60px;
    text-align: center;
    
}




